<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="style.css">
    <script src="./renderer.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="left">
        <p class="tito">Options</p>
      </div>
      <div class="right">
        <p class="tit">Echo Arena VR</p>
        <p class="ver">Version <span id="appversion"></span></p>
      </div>
    </div>

    <div id="container">

    </div>

    <div class="foot">
      <div class="btnFoot footer" id="save">
        <a>Save</a>
      </div>
      <div class="btnFoot reset" id="reset">
        <a >Reset</a>
      </div>
      <div class="btnFoot outline" id="close">
        <a>Close</a>
      </div>
    </div>
  </body>
</html>

<!-- 685px 910px -->